<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME FOR CHECK?</title>
</head>
<body>
    <h1> JAI MATA DI  </h1>

    <h1>GO to /campgrounds</h1>
    <a href="/campgrounds">MOVE TO THE WEB - APP</a>
</body>
</html>